@import '../../../../sass/variables';

.create-job-header-wrapper {
  position: relative;
  font-family: 'Roboto';
  color: $color-white;
  background: rgb(110,190,246);
  background: linear-gradient(90deg, rgb(2, 114, 194) 0%, rgba(2,212,255,1) 100%);
}

.create-job-header {
  max-width: $app-min-width-desktop;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;

  p {
    font-size: 14px;
    margin-top: 30px;
  }
}

.create-job-form-wrapper {
  position: relative;
  font-family: 'Roboto';
  
  form {
    background-color: white;
    max-width: $app-min-width-desktop;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 40px;
    box-shadow: 0 0 6px $color-gray, 0 2px 2px $color-lightgray;

    // form width minus side padding of 15px x2 + 1px border x2
    $inputs-side-padding: 15px;
    $inputs-width: $app-min-width-desktop - ($inputs-side-padding * 2 + 2);

    .input-label-group {
      min-width: 700px;
      margin-bottom: 45px;

      h3 {
        font-family: 'Roboto-Medium';
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
  
      input {
        width: $app-min-width-desktop - 32px;
        padding: 10px $inputs-side-padding;
        border: 1px solid $color-lightgray;
      }

      textarea {
        font-family: 'Roboto';
        width: $inputs-width;
        height: 100px;
        padding: 10px $inputs-side-padding;
        border: 1px solid $color-lightgray;
        resize: vertical;
      }

      .categories-list-wrapper {
        max-height: 100px;
        overflow-y: auto;
        width: $inputs-width + 32px;
        // position: absolute;

        ul {
          list-style: none;
          border-left: 1px solid $color-lightgray;
          border-right: 1px solid $color-lightgray;
        }
  
        li {
          font-size: 14px;
          padding: 5px 15px;
          border-bottom: 1px solid $color-lightgray;
          cursor: pointer;
        }
      }

      .payment-types-wrapper {
        display: flex;
      }

      .payment-type-card {
        width: 300px;
        display: flex;
        padding: 25px;
        margin-right: 50px;
        border: 1px solid $color-lightgray;
        cursor: pointer;

        .payment-card-text {
          margin-left: 10px;
        }

        img {
          width: 64px;
          height: 64px;
        }

        p {
          margin-bottom: 0px;
        }
      }

      .payment-card-selected {
        border: 1px solid $color-blue;
        box-shadow: 0 0 6px $color-blue, 0 2px 2px $color-lightblue;
      }

      .price-level-wrapper {
        display: flex;

        .price-section {
          width: 50%;

          input {
            width: 90px;
          }

          input:nth-child(2) {
            margin-right: 50px;
          }
        }

        .level-section {
          width: 50%;

          select {
            font-size: 14px;
            width: 50%;
            padding: 10px $inputs-side-padding;
            border: 1px solid $color-lightgray;
          }
        }
      }

      .skills-list-wrapper {
        max-height: 100px;
        overflow-y: auto;
        width: $inputs-width + 32px;
        // position: absolute;

        ul {
          list-style: none;
          border-left: 1px solid $color-lightgray;
          border-right: 1px solid $color-lightgray;
        }
  
        li {
          font-size: 14px;
          padding: 5px 15px;
          border-bottom: 1px solid $color-lightgray;
          cursor: pointer;
        }
      }

      .selected-skills-list {
        font-size: 15px;
        margin-top: 10px;

        span.selected-skill-listing {
          background-color: $color-white;
          padding: 4px 8px;
          margin-right: 10px;
          border: 1px solid $color-gray;
          border-radius: 5px;

          svg {
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
    }

    button {
      font-size: 14px;
      font-family: 'Roboto-Medium';
      height: 40px;
      color: $color-white;
      border: none;
      border-radius: 3px;
      background-color: $color-blue;
      padding: 0px 15px;
      cursor: pointer;
    }
  }
}
