@import '../../../../sass/variables';

.create-job-header-wrapper {
  position: relative;
  font-family: 'Roboto';
  color: $color-white;
  background: rgb(110,190,246);
  background: linear-gradient(90deg, rgb(2, 114, 194) 0%, rgba(2,212,255,1) 100%);
}

.create-job-header {
  max-width: $app-min-width-desktop;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;

  p {
    font-size: 14px;
    margin-top: 30px;
  }
}
