@import '../../../sass/variables';
@import '../../../sass/mixins';

.job-list {
  font-family: 'Roboto';
  @include flex-center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
