@import './variables';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color-lightgray;
}

// change default offset so it doesn't cover user buttons
.Toastify__toast-container--top-right {
  top: 4em;
  right: 2em; 
}

.hidden {
  display: none;
}

.input-error {
  font-family: 'Roboto-Medium';
  font-size: 14px;
  color: $color-error;
  margin-top: 5px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 300px;
}
