@import '../../../../sass/variables';

.create-bid-container {
  min-width: $app-min-width-desktop;
  max-width: 1000px;
  font-family: 'Roboto';
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.bid-header{
  font-size: 24px;
  font-family: 'Roboto-Medium';
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 25px;
}
