@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.job-details-container {
  min-width: $app-min-width-desktop;
  max-width: $app-max-width;
  min-height: 500px;
  font-family: 'Roboto';
  margin: 40px auto 100px auto;
  padding-left: 25px;
  padding-right: 25px;
  
  h1 {
    font-size: 24px;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .register-label {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.job-details-wrapper {
  display: flex;
  background-color: $color-white;
  border: 1px solid $color-lightgray;
  border-radius: 10px;
}

.job-details-left {
  width: 75%;
}

.job-details-right {
  width: calc(25% - 60px);
  min-width: 220px;
  padding: 30px;
  border-left: 1px solid $color-lightgray;
}

.details-title {
  font-size: 22px;
  font-family: 'Roboto-Medium';
  color: $text-color-dark;
  padding: 25px;
  border-bottom: 1px solid $color-lightgray;
}

.details-category {
  padding: 25px;
  border-bottom: 1px solid $color-lightgray;

  p:nth-child(1) {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    margin-bottom: 10px;
  }

  p:nth-child(2) {
    font-size: 14px;
    color: $color-gray;
  }
}

.details-description {
  font-size: 15px;
  padding: 25px;
  border-bottom: 1px solid $color-lightgray;
  white-space: pre-wrap;
}

.details-specifics {
  padding: 25px;
  border-bottom: 1px solid $color-lightgray;

  .job-price, .job-experience {
    display: inline-block;
    margin-right: 130px;

    p:nth-child(1) {
      font-family: 'Roboto-Medium';
    }
    
    p:nth-child(2) {
      font-size: 14px;
      color: $color-gray;
      margin-top: 5px;
    }
  }
}

.details-skills {
  padding: 25px;

  h3 {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.apply-link {
  @include flex-center;
  font-size: 14px;
  font-family: 'Roboto-Medium';
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: $color-green;
  padding: 0px 15px;
  margin-bottom: 25px;
  text-decoration: none;
}

.job-side-section {
  border-top: 1px solid $color-lightgray;
  padding-top: 25px;
  padding-bottom: 25px;
  
  h3 {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
